<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">


    <import resource="applicationContext.xml"></import>

    <!-- Adapter pour controllers implémentant Controller -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <context:component-scan base-package="com.exemple.smartLogi.controller"/>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/colis">colisController</prop>
                <prop key="/livreur">livreurController</prop>
            </props>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <bean id="livreurController" class="com.exemple.smartLogi.controller.LivreurController" />
    <bean id="colisController" class="com.exemple.smartLogi.controller.ColisController" >
        <constructor-arg ref="colisService"/>
        <property name="livreurService" ref="livreurService"/>
    </bean>

    <!-- JSON view using Jackson -->
</beans>
